<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel Fin del Mundo</title>
  <link rel="stylesheet" href="../static/css/panel.css">
  <link rel="icon" type="image/x-icon" href="../static/image/assets/Favicon.png">
  <script src="https://kit.fontawesome.com/f6023662c1.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <div class="flex-container">
    <header class="header">
      <div class="nav-container">
        <div class="nav-menu">
          <div class="img-container">
            <img src="../static/image/assets/logo-blanco.png" alt="logo fin del mundo">
          </div>
          <div>
            <ul class="nav-list">
              <li><a href="/home">Home</a></li>
              <li><a href="/home#salsas">products</a></li>
              <li><a href="/home#merch">merch</a></li>
              <li><a href="/home#findelmundo">findelmundo</a></li>
              <li><a href="/home#querido-satan">querido satán</a></li>
              <li><a href="/home#contact">contacto</a></li>
              {% if session['user_id'] %}
              <li><a href="/adminBoard"><i class="fa-regular fa-user"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </header>
    <aside>
      <div class="menu-aside">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button menu-button show menu-orders" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h3>Pedidos</h3>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body li-panel">
                  <ul>
                    <a href="/adminBoard/orders?filter=pendiente"><li class="menu-link">Pendientes</li></a>
                    <a href="/adminBoard/orders?filter=enviado"><li class="menu-link">Enviados</li></a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed menu-button menu-products" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h3>Productos</h3>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body li-panel">
                  <ul>
                  <a href="/adminBoard/products?filter=sauce"><li class="menu-link">Salsas</li></a>
                  <a href="/adminBoard/products?filter=merchandising"><li class="menu-link">Merch</li></a>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        {% if session['user_id'] %}
        <div class="btn-container">
          <form action="/logout" method="POST">
            <button type="submit" class="finalBtn">cerrar session</button>
          </form>
        </div>
        {% endif %}
      </div>
    </aside>
    <main>
      <div class="container">
        {% block main %}
        {% endblock %}
      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
  // Adapted from https://stackoverflow.com/a/10162353
    const html = '<!DOCTYPE ' +
    document.doctype.name +
    (document.doctype.publicId ? ' PUBLIC "' + document.doctype.publicId + '"' : '') +
    (!document.doctype.publicId && document.doctype.systemId ? ' SYSTEM' : '') +
    (document.doctype.systemId ? ' "' + document.doctype.systemId + '"' : '') +
    '>\n' + document.documentElement.outerHTML;

        const ordersBtn = document.querySelector('.menu-orders');
        const productsBtn = document.querySelector('.menu-products');

        ordersBtn.addEventListener('click', (e) => {
          window.location.href = '/adminBoard/orders';
        })

        productsBtn.addEventListener('click', e => {
          window.location.href = '/adminBoard/products';
        })

        if (window.location.href.includes('/orders')) {
          document.querySelector("#collapseOne").classList.add('show');
          ordersBtn.classList.remove('collapsed');
          document.querySelector("#collapseTwo").remove('show');
          productsBtn.classList.add('collapsed');
        } else if (window.location.href.includes('/products')) {
          document.querySelector("#collapseOne").classList.remove('show');
          productsBtn.classList.remove('collapsed');
          document.querySelector("#collapseTwo").classList.add('show');
          ordersBtn.classList.add('collapsed');
        }
        const delOrder = document.querySelectorAll('.del-orders');
            delOrder.forEach(btn => {
              btn.addEventListener('click', () => {
                const orderID = btn.parentElement.parentElement.firstElementChild.innerText;
                fetch(`/adminBoard/orders/${orderID}`, {
                  method: 'DELETE',
                  headers: {
                    'Content-Type': 'application/json'
                  }
                }).then(res => res.json())
                .then(data => {
                  console.log(data);
                  if (data.status === 'success') {
                    window.location.reload();
                  } else alert('Error al eliminar el pedido')
                })
              });
          });
        const delProduct = document.querySelectorAll('.del-products');
          delProduct.forEach(btn => {
            btn.addEventListener('click', () => {
              const productID = btn.parentElement.parentElement.firstElementChild.innerText;
              fetch(`/adminBoard/products/${productID}`, {
                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json'
                }
              }).then(res => res.json())
              .then(data => {
                console.log(data);
                if (data.status === 'success') {
                  window.location.reload();
                } else alert('Error al eliminar el producto')
              })
            });
          });

        //! modal

        const addBtn = document.getElementById('addBtn');
        if (addBtn) {
          addBtn.addEventListener('click', () => {
            const modal = new bootstrap.Modal(document.getElementById('addProductModal'));
            modal.show();
          });

          const addProductForm = document.getElementById('addProductForm');
          addProductForm.addEventListener('submit', () => {
            modal.hide();
          })
        }
      });
  </script>
</body>
</html>