{% extends 'panel.html' %}

  {% block main %}
    <div class="table-container">
      <div class="col">
        <div class="header">
          <button type="button" class="btn addBtn" id="addNewOrderBtn"><i class="fa-solid fa-plus"></i>Agregar Pedido</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Corréo</th>
              <th scope="col">Productos</th>
              <th scope="col">Total</th>
              <th scope="col">Estado</th>
              <th scope="col">Fecha</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <th scope="row">{{ order.id }}</th>
              <td>{{ order.nombre }}</td>
              <td>{{ order.email }}</td>
              <td class="table-product-list">{{ order.lista_productos | join(', ') }}</td>
              <td>{{ order.precio_total | uru }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.fecha}}</td>
              <td class="actions">
                <button type="button" class="btn">Completar</button>
                <button type="submit" class="btn btn-danger del-orders"><i class="fa-regular fa-trash-can"></i></button>
                <button type="button" class="btn btn-dark">Abrir</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endblock %}

  {% block script %}
  <link rel="stylesheet" href="../static/css/panel.css">
  <script>
    const delOrder = document.querySelectorAll('.del-orders');
      delOrder.forEach(btn => {
        btn.addEventListener('click', () => {
          const orderID = btn.parentElement.parentElement.firstElementChild.innerText;
          fetch(`/adminBoard/orders/${orderID}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(res => res.json())
          .then(data => {
            console.log(data);
            if (data.status === 'success') {
              window.location.reload();
            } else alert('Error al eliminar el pedido')
          })
        });
    });
  </script>
  {% endblock %}