:root {
  --primary-background-color: #eee;
  --secondary-background-color: #000;
  --third-background-color: #777;
  --btn-background-color: #98ff00;
  --btn-hover-color: #b7ff4c;
  --black-text-color: #000;
  --white-text-color: #eeee;
  --border-color: #cccccc;
  color-scheme: light dark;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

header {
  width: 100%; 
  background-color: #000;
  color: #eee;
  font-family: Olvier;
  font-size: 30px;
  text-align: center;
}

.nav-container {
  width: 100%;
}

.nav-container {
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 20px 20px;
}

.img-container {
  position: absolute;
  left: 0;
  padding: 20px;
  width: 200px;
}
.img-container img {
  width: 100%;
}

main {
  background-color: var(--primary-background-color);
  width: 80%;
  min-height: 600px;
}

aside {
  background-color: var(--secondary-background-color);
  width: 20%;
  min-height: 600px;
}

.menu-button h3 {
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 900;
}

.accordion {
  --bs-accordion-bg: var(--secondary-background-color)!important;
  --bs-accordion-active-bg: var(--btn-background-color) !important;
  --bs-accordion-color: #eeee!important;
  --bs-accordion-border-width: 0!important;
  --bs-accordion-inner-border-radius: 0!important;
  --bs-accordion-btn-focus-box-shadow: none!important;
  --bs-accordion-btn-bg: #000 !important;
  --bs-accordion-btn-color: #eeee !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--btn-background-color) !important; /* Color de fondo azul oscuro cuando está expandido */
  color: #000 !important; /* Color del texto blanco */
}

.accordion-button::after {
  background-color: #eee!important; /* Color del texto blanco */
}
.accordion-button:not(.collapsed)::after {
  background-color: var(--btn-background-color) !important; /* Color de fondo azul claro cuando se pasa el mouse */
}

.accordion-body {
  padding: 0!important;
}

.li-panel ul {
  padding: 0;
  margin: 0;
}
.li-panel li {
  padding: 12px 8px;
  list-style-type: none;
  font-family: SofiaSansItalic;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    background-color: #333;
  }
}

footer {
  width: 100%; 
  min-height: 200px;
}

.li-panel li.active {
  background-color: #333;
}

.btn-container {
  width: 100%;
  text-align: center;
}
.finalBtn {
  width: 120px;
  background-color: var(--btn-background-color);
  font-family: Oswald;
  font-size: 18px;
  color: #000;
  outline: none;
  padding: 4px 2px;
  border-radius: 15px;
  &:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
  }
}

/* main */
.header {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  gap: 40px;
  padding: 20px 0;
}

.btn.addBtn {
  min-width: 200px;
  border-radius: 10px;
  background-color: var(--btn-background-color);
  font-family: SofiaSans;
  font-size: 20px;
  font-weight: 600;
  color: var(--black-text-color);
  outline: none;
  border: 1px solid #000;
  padding: 8px 4px;
  &:hover {
    cursor: pointer;
    border-color: #777;
    background-color: var(--btn-hover-color);
  }
}

.btn.addBtn i {
  padding-right: 10px;
}

/*? MODAL */
.modal show {
  display: block;
  opacity: 1;
  z-index: 1000;
}

#addProductForm {
  display: flex;
  flex-flow: column wrap;
}

#addProductForm .addBtn {
  align-self: center;
  width: 120px;
}

/*! Table */


.table-light.custom-width {
  width: 100%;
}

@font-face {
  font-family: SofiaSansItalic;
  src: url(../fonts/SofiaSansCondensed-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: SofiaSans;
  src: url(../fonts/SofiaSansCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: Olvier;
  src: url(../fonts/Oliver-Regular.ttf);
}