*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body{
  background-color: #eee;
}

.flex-container{
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

/* Header */
header {
  background-color: #000;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
.nav-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 25px 80px 20px 80px;
  gap: 40px;
}
.logo-fdm, .logo-fdm div img {
  width: 142px;
}

.nav-menu {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 850px;

}
.nav-menu ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
}
.nav-menu ul li a {
  text-decoration: none;
  font-family: Oliver;
  font-size: 23px;
  color: #eeee;
  transition: all 0.8s ease;
  &:hover {
    color: #98ff00;
    cursor: pointer;
  }
}

.cart-icon, .cart-icon div svg {
  width: 53px;
  &:hover {
    cursor: pointer;
  }
}
.cart-svg path, .cart-svg circle, .cart-svg text {
  fill: #eeee;
  font-family: Oliver;
  font-size: 80px;
  transition: all 0.8s ease;
}
.cart-svg:hover path, .cart-svg:hover circle, .cart-svg:hover text { 
  fill: #98ff00;
}

.ig-icon {
  padding-left: 20px;
  width: 55px;
  height: 55px;
  background-image: url(../static/image/assets/iG-icon-white.png);
  background-size: cover;
  transition: all 0.8s ease;
  &:hover {
    cursor: pointer;
    background-image: url(../static/image/assets/IG-icon-green.png);
  }
}

/* .ig-icon img {
  width: 48px;
  object-fit: cover;
  cursor: pointer;
  &:hover {
    background-image: url(../static/image/assets/IG\ verde.png.png);
  }
} */


/* btn menu  */

.btn-menu{
  display: none;
  width: 95px;
  color: #fff;
}
.btn-menu i {
  font-size: 60px;
  &:hover {
    color: #9bf730;
    cursor: pointer;
  }
}

.carteles-container{
  width: 100%;
  background-color: #9f4;
}

.carteles{
  background-color: #9f4;
  color: #000;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.carteles .cartel-mov{
  display: flex;
  align-items: center;
  animation: slider 13s linear infinite;
  -webkit-animation: slider 13s linear infinite ;
  width: max-content;
}
.cartel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  width: max-content;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}
.texto-cartel {
  margin: 0;
  font-size: 26px;
  font-family: Oswald;
  font-weight: 900;
}

.carteles {
  display: flex;
  min-height: 80px;
  align-items: center;
  user-select: none;
}
.cartel img {
  width: 40px;
  margin-left: 15px;
}

.outer{
  text-align: center;
  padding: 8px;
}

@keyframes slider {
  0%{
    
  }
  100%{
    transform: translateX(calc(-214px *7));
  }

}

.main-content{
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.slider-home {
  padding: 110px 0 0 0;
}

.tienda-container{
  background-image: url(../static/image/backgrounds/Fondo_extendido.png);
  background-size: cover;
  width: 100%;
  text-align: center;
}

/* CAMBIAR A GRID */

.catalogo-salsas {
  margin: 20px 0;
  padding: 18px 10px;
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 343px);
  gap: 40px;
}
.sauce-container {
  width: 343px;
  height: 568px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-product-container {
  width: 100%;
  height: 458px;
}
.img-product-container img {
  width: 343px;
  height: 458px;
  object-fit: cover;
}

.detail-container {
  padding: 16px;
  width: 343px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 24px;
  font-weight: 700;
  font-family: SofiaSans;
}

.price{
  font-size: 24px;
  font-weight: 600;
  font-family: Oswald;
}

.productLink {
  text-decoration: none;
}

/* merchant */

.tienda-merchant{
  width: 100%;
}

.catalogo-merchant{
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding: 40px;
}

.merch-container{
  margin-top: 20px;
  color: #eee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.img-product-merchant{
  border: 2px solid #eee;
  width: 300px;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.img-product-merchant:hover{
  border-color: #9bf730;
}
.selected{
  border-color: #9bf730;
}

.divHrLine {
  width: 23px;
  padding: 8px 0;
}

hr {
  opacity: 1!important;
}
.hrLine {
  width: 100%;
  border: solid 1px #000;
  margin: 0 auto;
}
.merch-container .divHrLine .hrLine {
  width: 100%;
  border: solid 1px #fff;
  margin: 0 auto;
}

/* HEADER CART ICON NOTIFICATION */


.header-cart{
  display: none;
  padding: 4px;
  margin-left: 10px;
}

.icons-cart-notification{
  display: flex;
}

.icons-cart-notification .cart-icon{
  max-width: 24px;
}

.icons-cart-notification .header-cart-notification{
  display: none;
  color: #9bf730;
  margin-left: 8px;
}


/* CART MODAL  */

.cart-modal{
  margin: 14px 0 0 4px;
  width: 400px;
  min-height: 200px;
  background-color: #777;
  border-radius: 20px 10px 4px 15px;
  border: 1px dotted #777;
  display: none;
  position: absolute;
  left: 1080px;
  top: 25px;

  &.cart-modal:hover{
    border-color: #fff;
  }
}


.cart-modal-show{
  display: block;
}

.cart-modal-tittle{
  text-align: center;
  font-family: Oliver;
  color: #000;
  margin: 6px;
  padding: 4px;
  font-size: 1.9em;
  font-weight: 600;
}

.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-modal-checkout-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
}

.cart-modal-detail-container{
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
}

.cart-modal-checkout{
  font-family: Oliver;
  font-size: 1em;
  border-radius: 18px 25px;
  border: 2px solid #7ba730;
  background-color: #9bf730;
  margin-top: 25px;
  padding: 5px;

  &.cart-modal-checkout:hover{
    background-color: #7ba730;
    border: 2px solid #9bf730;
    cursor: pointer;
  }
}

.article{
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.cart-modal-delete{
  display: flex;
  width: 10%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
  justify-self: center;
  align-self: center;
}

.last-price{
  margin: 10px;
  width: 80%;
  padding: 4px;
  background-color: #124;
  color: #fff;
}

.cart-empty{
  font-weight: 700;
  color: #124;
  text-align: center;
  margin-top: 20px;
}


/* informacion extra */

.imgExtra{
  width: 100%;
  max-height: 600px;
  background-color: inherit;
}
.imgExtra img {
  width: 100%;
  max-height: 600px;
}
.img-outer{
  width: 100%;
  background-color: inherit;
}
.img-outer img{
  width: 100%;
}

.info{
  background-color: #eeee;
  color: #000;
  width: 100%;
}

.finDelMundo{
  width: 100%;
  background-color: #000;
  color:#fff;
  text-align: center;
  padding: 8px;
}

.animation-infoExtra{
  width: 100%;
  text-align: center;
  background-color: #9bf730;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.finDelMundo h2{
  margin-top: 80px;
  font-family: Oliver;
  font-size: 2.5em;
  font-weight: 200;
  margin-bottom: 18px;
}
#organicWord {
  color: #9bf730;
}

.trabajadores{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.descripción-Trabajadores{
  font-family: Oliver;
  font-size: 1.2em;
}

#img-centro{
  margin-top: 48px;
}

#info85{
  margin: auto;
  font-size: 38px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .1em;
}
.recetas-finDelMundo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', serif;
}

.book-container {
  width: 770px; /* Adjust width to account for book padding */
  height: 555px; /* Adjust height to account for book padding */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.book {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}


.page {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform-origin: left;
  transition: transform 2s;
}

.page img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

#page1 { z-index: 6; transform: rotateY(-0deg); }
#page2 { z-index: 5; transform: rotateY(-0deg); }
#page3 { z-index: 4; transform: rotateY(-0deg); }
#page4 { z-index: 3; transform: rotateY(-0deg); }
#page5 { z-index: 2; transform: rotateY(-0deg); }
#page6 { z-index: 1; transform: rotateY(-0deg); }

.nav-button {
  transform: translateY(-50%);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 100;
}

#prev {
  margin-right: 20px;
}

#next {
  margin-left: 20px;
}

/* Contact */

/* Primera parte */ 

.contact-form{
  background-color: #000;
  border-top: 1px solid #9bf730;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.img-contact{
  width: 35%;
}
#img4{
  width: 100%;
  object-fit: cover;
}
.form-container{width: 50%;}

.h2-contact{
  font-family: Oliver;
  font-size: 30px;
  letter-spacing: 3px;
  color:#9bf730;
  text-align: center;
}

form{
  width: 100%;
  display: flex;
}
form input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background-color: #eee;
  color: #000;
}

.form-div{
  font-family: SofiaSans;
  font-size: 18px;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-contact{
  margin-top: 30px;
  color: #eee;
}

#i1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input1{
  color: #eee;
  width: 45%;
  padding: 10px 14px;
}

#i2{
  width: 100%;
}
.input2{
  color: #eee;
  width: 100%;
  padding: 10px 14px;
}

#i3{
  width: 100%;
}
.input3{
  color: #eee;
  width: 100%;
  padding: 10px 14px;
  min-height: 130px;
  resize: none;
}
#i4{
  margin-top: 30px;
}

.send{
  display: block;
  width: 100%;
  text-align: center;
}

#send{
  font-size: 26px;
  font-weight: 600;
  font-family: SofiaSans;
  width: 150px;
  height: 50px;
  border-radius: 18px;
  background-color: #9bf730;
  color: #000;
  cursor: pointer;
}
#send:hover{
  background-color: #777;
  color:  #eee;

}
/* placeholder */

#name::placeholder{
  font-size: 20px;
  font-weight: 600;
  font-family: SofiaSans;
  color: #ffff;
}
#lastName::placeholder{
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  font-family: SofiaSans;
}
#email::placeholder{
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  font-family: SofiaSans;
}
#mensaje::placeholder{
  color: #ffff;
  font-size: 20px;
  font-weight: 600;
  font-family: SofiaSans;
}

/* Border Input  */

.input1{
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 14px 18px 28px  28px;
}

.input2{
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 18px 18px 30px 10px;
}

.input3{
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 20px 20px 18% 30px;
}

textarea:focus,input[type="email"]:focus, .input-contact input[type="text"]:focus {
  border-color: #9bf730;
  background-color: #777;
  color: #eeee;
  font-family: SofiaSans;
  outline: 0 none;
}

/* Footer contact information */
/* FOOTER */

.footer{
  color: #fff;
  background-color: #000;
  width: 100%;
  text-align: center;
}

.contact{
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 60px;
  padding: 20px 20px 60px 20px;
}

.contact-container{
  display: block;
  width: 40%;
  padding: 0px 30px;
}

.fdm-logo {
  padding-bottom: 10px;
}
.contact-container .fdm-logo img{
  width: 310px;
  height: 170px;
  object-fit: cover;
}

.info-contact {
  width: 100%;
  margin-top: -10px;
}
.info-contact .single, .info-contact .duo {
  margin: 0px;
}
.info-contact .single {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
.info-contact .duo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
}
.info-contact .duo div {
  display: flex;
  flex-wrap: wrap;
}
.info-contact a {
  text-decoration: none;
  color: inherit;
}
.info-contact img{
  align-items: center;
  width: 49px;
}
.info-contact .h3-ig, .h3-email{
  font-family: SofiaSans;
  font-weight: normal;
  font-size: 26px;
  color: #eee
}
.info-contact .h3-num {
  font-family: SofiaSansItalic;
  font-weight: normal;
  font-size: 28px;
  color: #eee;
  line-height: 1.2em;
}

.map{
  width: 60%;
  margin: auto;
}

.map iframe{
  width: 80%;
  height: 470px;
}

.patrocineo {
  background-color: #fff;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patrocineo h3 {
  text-align: justify;
  color: #000;
  font-family: SofiaSans;
  font-weight: normal;
  font-size: 26px;
  padding: 8px;
  margin-bottom: -40px;
}

.patrocineos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
  width: 100%;
  height: auto;
}
.patrocineos img {
  max-width: 300px;
  object-fit: contain;
}

/*  Responsive  */
@media screen and (max-width: 1280px) and (min-width: 700px) {
  .nav-container {
    gap: 0;
    justify-content: space-between;
  }
  #i1 {
    flex-direction: column;
    gap: 30px;
  }
  .form-div input {
    width: 100%;
  }
  .form-div textarea {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .nav-menu {
    display: none;
  }
  .nav-container {
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 963px) {
  .patrocineos-container {
    text-align: center;
  }
  .patrocineos {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .patrocineos img:first-child {
    padding-top: 20px;
  }
}
@media screen and (max-width: 886px) {
  .contact {
    flex-wrap: wrap;
  }
  .contact-container {
    width: 100%;
    padding: 30px;
  }
  .map {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  
  /* contact */
  .info-contact{
    flex-wrap: wrap;
  }
  .img-contact, .form-container{
    width: 100%;
    margin-top: 10px;
  }
  #i1 {
    flex-direction: column;
    gap: 30px;
  }
  .form-div input {
    width: 100%;
  }
  .form-div textarea {
    width: 100%;
  }
  .map iframe {
    padding-top: 20px;
  }
}

@media screen and (max-width: 350px) {
  header{
    position: static;
  }

  .main{
    width: 100%;
  }
  .salsa .img-product{
    max-width: 200px;
  }
  .merchant .img-product-merchant{
    max-width: 120px;
  }

  .footer{
    width: 100%;
  }
  .contact-container .fin-del-mundo img{
    width: 280px;
  }
}


/*  Fuentes externas */

@font-face {
  font-family: Oliver;
  src: url(../static/fonts/Oliver-Regular.ttf);
}

@font-face {
  font-family: SofiaSans;
  src: url(../static/fonts/SofiaSansCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: SofiaSansItalic;
  src: url(../static/fonts/SofiaSansCondensed-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(../static/fonts/Oswald-VariableFont_wght.ttf);
}
