.tienda-container{
  width: 100%;
  text-align: center;
  margin: 8px;
}

.catalogo-salsas{
  display: flex;
  flex-wrap: wrap;
  margin: 8px 14px;
  justify-content: center;
  align-items: center;
}

.sauce-container{
  margin-top: 18px;
  text-align: center;
  font-family: Oliver;
  margin: 18px 34px;
  padding: 24px;
  border: 2px solid #eee;
  color: #000;

  &.salsa:hover{
    border-color: #9bf730;
    cursor: pointer;
  }
}

.img-product{
  max-width: 400px;
}

.title{
  font-size: .9em;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
}

.price{
  margin-top: 10px;
  font-size: 1.8em;
}

.addBtn{
  margin: 6px;
  padding: 4px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: #4a4;
  border-radius: 25% 25% 25% 25%;

  &.addBtn:hover{
    border-color: #888;
    background-color: #6f6;
    cursor: pointer;
  }
}


.add-product{
  margin-bottom: 14px;
  margin-top: 15px; 
  width: 210px;
  padding: 8px;
  font-size: 1.2em;
  font-family: Oliver;
  text-transform: uppercase;
  background-color: #9bf730;
  border-radius: 28px 10px 20px 10px;
  &.add-product:hover{
    background-color: #7ba307;
    border: 2px solid #9bf730;
    cursor: pointer;
  }
}


/* merchant */

.tienda-merchant{
  width: 100%;
}

.catalogo-merchant{
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding: 40px;
}

.merchant{
  margin-top: 20px;
  color: #eee;
  text-align: center;
}

.img-product-merchant{
  border: 2px solid #eee;
  width: 300px;
  max-height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.img-product-merchant:hover{
  border-color: #9bf730;
}
.selected{
  border-color: #9bf730;
}

.btn-merchant{
  width: 100%;
  text-align: center;
}

.btn-merchant button{
  font-family: Oliver;
  font-size: 1.3em;
  letter-spacing: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 10px 10px;
  outline: none;
  border: 1px solid #9bf730;
  padding: 8px 10px;
}

.btn-merchant button:hover{
  background-color: #9bf730;
  color: #000;
}



/* HEADER CART ICON NOTIFICATION */


.header-cart{
  display: none;
  padding: 4px;
  margin-left: 10px;
}

.icons-cart-notification{
  display: flex;
}

.icons-cart-notification .cart-icon{
  max-width: 24px;
}

.icons-cart-notification .header-cart-notification{
  display: none;
  color: #9bf730;
  margin-left: 8px;
}




/* CART MODAL  */

.cart-modal{
  margin: 14px 0 0 4px;
  width: 400px;
  min-height: 200px;
  background-color: #777;
  border-radius: 20px 10px 4px 15px;
  border: 1px dotted #777;
  display: none;
  position: absolute;
  left: 1080px;
  top: 25px;

  &.cart-modal:hover{
    border-color: #fff;
  }
}


.cart-modal-show{
  display: block;
}

.cart-modal-tittle{
  text-align: center;
  font-family: Oliver;
  color: #000;
  margin: 6px;
  padding: 4px;
  font-size: 1.9em;
  font-weight: 600;
}

.article-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-modal-checkout-container{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 8px;
}

.cart-modal-detail-container{
  display: flex;
  text-align: left;
  width: 100%;
  height: 100%;
}

.cart-modal-checkout{
  font-family: Oliver;
  font-size: 1em;
  border-radius: 18px 25px;
  border: 2px solid #7ba730;
  background-color: #9bf730;
  margin-top: 25px;
  padding: 5px;

  &.cart-modal-checkout:hover{
    background-color: #7ba730;
    border: 2px solid #9bf730;
    cursor: pointer;
  }
}

.article{
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.cart-modal-delete{
  display: flex;
  width: 10%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
  justify-self: center;
  align-self: center;
}

.last-price{
  margin: 10px;
  width: 80%;
  padding: 4px;
  background-color: #124;
  color: #fff;
}

.cart-empty{
  font-weight: 700;
  color: #124;
  text-align: center;
  margin-top: 20px;
}







@font-face {
  font-family: Oliver;
  src: url(Oliver-Regular.ttf);
}