<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fin Del Mundo Web</title>
  <link rel="icon" type="image/x-icon" href="../static/image/assets/Favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css??family=Sofia+Sans+Condensed">
  <link rel="stylesheet" href="../static/index.css">
  <link rel="stylesheet" href="../static/product.css">
</head>
<body>
  <div class="flex-container">
    <header class="header">
      <div class="nav-container">
        <div class="logo-fdm">
          <div>
            <img src="../static/image/assets/logo-blanco.png" alt="logo de fdm blanco">
          </div>
        </div>
        <div class="nav-menu">
          <ul>
            <li>Home</li>
            <li>products</li>
            <li>merch</li>
            <li>findelmundo</li>
            <li>querido satán</li>
            <li>contacto</li>
          </ul>
        </div>
        <div class="cart-icon">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 197.7 166" preserveAspectRatio="xMinYMax meet" data-hook="svg-icon-2" class="cart-svg">
              <path d="M197.9 55.9L169.9 127.4 64.5 127.4 27.6 29.8 0 29.8 0.2 16.7 36.5 16.7 73.4 114.3 160.9 114.3 183 55.9"></path>
              <circle cx="143.8" cy="153" r="13"></circle>
              <circle cx="90.8" cy="153" r="13"></circle>
              <text data-hook="items-count" class="uxskpx M846Y_" text-anchor="middle" x="116" y="35" dy=".48em">0</text></svg>
          </div>
        </div>
        <div class="ig-icon">
          <div>
            <img src="../static/image/assets/IG white.png" alt="icono de instagram blanco">
          </div>
        </div>
      </div>
        <!-- Menu desplegable responsivo -->
        
        <!-- cartNotification -->
  
      <!-- cartModal -->
    <div class="cart-modal">
      <p class="cart-modal-tittle">Carrito</p>
        <hr/>
      <div class="article-container">
        <p class="cart-empty">El carrito esta vacio</p>
      </div>
    </div>
</header>
  <main class="main-content">{% block main %}{% endblock %}</main>
<footer class="footer">
  <div class="contact">
    <div class="contact-container">
        <div class="fdm-logo">
          <img id="img5" src="../static/image/assets/fdm-logo-blanco-picantes.png" alt="Findelmundo logo blanco">
        </div>
      <div class="info-contact">
        <div class="contact single">
          <img src="../static/image/assets/Mail.png" alt="logo de email">
          <h3 class="h3-email"><a href="#email">xxxxxxxxxx@gmail.com</a></h3>
        </div>
        <div class="contact duo">
          <div>        
            <img src="../static/image/assets/Instagram.png" alt="logo instagram verde">
            <h3 class="h3-ig"><a href="https://www.instagram.com/findelmundosalsas/" target="_blank">@findelmundosalsas</a></h3>
          </div>
          <div>
            <img src="../static/image/assets/Teléfono.png" alt="logo teléfono">
            <h3 class="h3-num"><a href="#whatsapp">+589 91068092</a></h3>
          </div>
        </div>
      </div>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/d/embed?mid=11Q_T3B2cZDFThYE8jXuERhyBInmIXC4&ehbc=2E312F&z=13&ll=-34.898853, -56.164487"
     height="530"
     filter="grayscale(75%)"
     frameborder="0"	
     style="border:0; margin-top: -70px"></iframe>
    </div>
  </div>
  <section class="patrocineo">
    <div class="patrocineos-container">
      <h3>Nos apoyan:</h3>
      <div class="patrocineos">
        <img src="../static/image/patrocineo/Isologotipos_Isologotipo ANDE.png" alt="ANDE agencia nacional de desarrollo imagen">
        <img src="../static/image/patrocineo/Isologotipos_Isologotipo IM.png" alt="intendencia de montevideo imagen">
        <img src="../static/image/patrocineo/Logo CIU_Proyecto patrocinado porPNG-01.png" alt="cámara de industrias de Uruguay imagen">
      </div>
    </div>
  </section>
</footer>
</body>
<script>
document.addEventListener('DOMContentLoaded', function() {
// Adapted from https://stackoverflow.com/a/10162353
const html = '<!DOCTYPE ' +
document.doctype.name +
(document.doctype.publicId ? ' PUBLIC "' + document.doctype.publicId + '"' : '') +
(!document.doctype.publicId && document.doctype.systemId ? ' SYSTEM' : '') +
(document.doctype.systemId ? ' "' + document.doctype.systemId + '"' : '') +
'>\n' + document.documentElement.outerHTML;

let currentPage = 0;
const totalPages = 6;

document.getElementById('next').addEventListener('click', () => {
    if (currentPage < totalPages) {
        document.querySelectorAll('.page')[currentPage].style.transform = 'rotateY(-180deg)';
        currentPage++;
    }
});

document.getElementById('prev').addEventListener('click', () => {
    if (currentPage > 0) {
        currentPage--;
        document.querySelectorAll('.page')[currentPage].style.transform = 'rotateY(0deg)';
    }
});

    // Hacer código para enlaces de la barra de navegación

const header = document.querySelector('.header');
const menu = document.querySelector('.btn-menu');
const homeIcon = document.querySelector('.header-img');
const btnMenu = document.querySelector('.btn-menu');
const navBar = document.querySelector('.navbar');
const icon = document.getElementById('btn-menu');

window.addEventListener('scroll', () => {
  header.classList.toggle('sticky', window.scrollY > 0)
})

btnMenu.addEventListener('click', ()=> {
    if( icon.className === "fa-solid fa-bars") {
        navBar.style.display = 'block';
        icon.classList.replace('fa-solid', 'fa-solid');
        icon.classList.replace('fa-bars', 'fa-x');
        let menuState = 'open';
        openMenu(menuState);
    } else {
        navBar.style.display = 'none';
        icon.classList.replace('fa-solid', 'fa-solid');
        icon.classList.replace('fa-x', 'fa-bars');
        let menuState = 'close';
        openMenu(menuState);
    }
})

  function openMenu (menuState) {
    window.addEventListener('resize', () => {
    if (screen.availWidth > 700 || menuState == 'open') {
        navBar.style.display = 'block';
    }
    if (screen.availWidth < 700 && menuState == 'close') {
      navBar.style.display = 'none';
    }
    console.log(screen.width);
  })
  }

let navBarItems = document.querySelectorAll('.navbar-items li a');
let windowWidth = window.innerWidth;

let className = navBarItems.className; 

if (windowWidth < 700) {
  navBarItems.forEach(item => {

      item.addEventListener('click', ()=> {
      
        navBar.style.display = 'none';
        icon.classList.replace('fa-solid', 'fa-solid');
        icon.classList.replace('fa-x', 'fa-bars');
      })
  });
}
const PRODUCTS = document.querySelectorAll('.producto')
PRODUCTS.forEach( producto => {
  producto.addEventListener('click', function() {
  const productId = this.getAttribute('data-id')  
  window.location.href = `http://localhost:5000/product-page?id=${productId}`
  })
})
});
</script>
<script src="https://kit.fontawesome.com/f6023662c1.js" crossorigin="anonymous"></script>
</html>