{% extends "base.html" %}

  {% block main %}
    <div class="checkout-container">
      {% if status == 'success' %}
        <div class="alert alert-success" role="alert" style="color: green">
          COMPRA REALIZADA CON ÉXITO
        </div>
      {% elif status == 'error' %}
        <div class="alert alert-danger" role="alert" style="color: red">
          ERROR AL REALIZAR LA COMPRA
        </div>
      {% endif %}
      <div class="user-info-container"> 
        <div class="from-container">
          <h2>Información de envío</h2>
          <form action="/checkout" method="POST">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" name="name" required placeholder="Peter Parker">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" required placeholder="peter_parker@spiderman.com">
              <label for="phone">Teléfono</label>
              <input type="number" class="form-control" name="phone" required>
              <label for="address">Dirección</label>
              <input type="text" class="form-control" name="address" required placeholder="1220 South Forest Hills, Queens, NY">
            </div>
            <div class="text-end">
              <button type="submit" class="finalBtn">Hacer Pedido</button>
            </div>
          </form>
        </div>
      </div>
      <div class="resume-purchase">
        <h3>Resumen</h3>
        <table class="table-light custom-width custom-height">
          <tbody class="table-group-divider">
            {% for product in purchase.cart %}
            <tr>
              <td>{{ product.title }}</td>
              <td>x{{ product.quantity }}</td>
              <td>{{ (product.price * product.quantity) | uru }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td>Envío</td>
              <td>{{ purchase.envio | uru }}</td>
            </tr>
            <tr class="table-group-divider">
              <td>TOTAL</td>
              <td>{{ (purchase.subtotal + purchase.envio) | uru }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {% endblock %}
  {% block script %}
    <link rel="stylesheet" href="../static/css/checkout.css">
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('form');
        form.addEventListener('submit', (e) => {
          e.preventDefault();
          fetch('/checkout', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              name: form.name.value,
              email: form.email.value,
              phone: form.phone.value,
              address: form.address.value,
            })
          })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
              alert('Compra realizada con éxito');
              setTimeout(() => {
                localStorage.removeItem('cart');
                window.location.href = '/home';
              }, 1000);
            } else {
              alert('Error al realizar la compra: ' + data.message);
            }
          }).catch(error => {
            console.error('Error:', error);
            alert('Error al realizar la compra');
          });
        });
      });
    </script>
  {% endblock %}