{% extends "base.html" %}
  {% block main %}
      <div class="slider-home" id="home">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" style="max-height: 545px;">
            <div class="carousel-item active">
              <img src="../static/images/banner intro/BANNER-NAVIDAD-2024.png" style="height: 100%; object-fit: cover;" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../static/images/banner intro/banner_chipotle_2.png" style="height: 100%; object-fit: cover;" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    <div class="carteles-container">
      <div class="carteles">
        <div class="cartel-mov">
          {% for i in range(11) %}
            <div class="cartel">
              <p class="texto-cartel">SALSAS PICANTES, DE VERDAD</p>
              <img src="../static/images/assets/Fueguito.png" alt="">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
      <div id="tienda" class="tienda-container">
          <div class="catalogo-salsas" id="salsas">
            {% for item in salsas %}
              <a class="productLink" href="{{ FDM_URL }}/product-page/{{ item.id }}">
              <div class="sauce-container producto" data-id="{{ item.id }}">
                <div class="img-product-container"></div>
                <img src="{{ 'obtener url de las imagenes' }}" alt="{{ item.title }}" data-images="{{ item.images }}" class="sauce-image">
                </div>
                <div class="detail-container" style="color: #000;">
                <h3 class="title">{{ item.title }}</h3>
                <div class="divHrLine">
                  <hr class="hrLine">
                </div>
                <p class="price">{{ item.price | uru }}</p>
                </div>
              </div>
              </a>
            {% endfor %}
            </div>
      </div>
      <div class="tienda-merchant">
        <div class="catalogo-merchant" id="merch">
          {% for item in merch %}
            <a class="productLink" href="{{ FDM_URL }}/product-page/{{ item.id }}">
              <div class="merch-container producto" data-id="{{ item.id }}">
                <img id="#a104" class="img-product-merchant" src="{{ 'obtener url de las imagenes' }}" alt="{{ item.title }}">
                <div class="title">{{ item.title }}</div>
                <div class="divHrLine">
                  <hr class="hrLine">
                </div>
                <div class="price">{{ item.price | uru }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="info">
        <div class="carteles-container">
          <div class="carteles">
            <div class="cartel-mov">
              {% for i in range(12) %}
              <div class="cartel">
                  <p class="texto-cartel">HECHO EN URUGUAY</p>
                  <img src="../static/images/assets/Fueguito.png" alt="">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="finDelMundo" id="findelmundo">
          <h2>Nuestra producción de picantes</h2>
          <p>Todos los ajíes de tu botellita de Findelmundo fueron cultivados de forma <span id="organicWord"><em>orgánica</em></span> en Uruguay</p>
          <div class="trabajadores">
            <div class="imgIzqDer">
              <img src="../static/images/assets/hombreIzq.png" alt="">
              <p class="descripción-Trabajadores">Sembramos</p>
            </div>
            <div class="imgCentral">
              <img id="img-centro" src="../static/images/assets/hombreCentro1.png" alt="">
              <p class="descripción-Trabajadores">Trasplantamos</p>
            </div>
            <div class="imgCentral">
              <img id="img-centro" src="../static/images/assets/hombreCentro2.png" alt="">
              <p class="descripción-Trabajadores">Esperamos</p>
            </div>
            <div class="imgIzqDer">
              <img src="../static/images/assets/hombreDer.png" alt="">
              <p class="descripción-Trabajadores">Cosechamos</p>
            </div>
          </div>
        </div>
        <div class="imgExtra"><img src="../static//images/backgrounds/Producción de picantes.png" alt=""></div>
          <div class="carteles-container">
            <div class="carteles">
              <div class="cartel-mov">
                {% for i in range(12) %}
                  <div class="cartel">
                    <p class="texto-cartel">USAMOS AJÍES SUPER-HOT, LOS MÁS PICNTES DEL MUNDO</p>
                    <img src="/static/images/assets/Fueguito.png" alt="">
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        <div class="img-outer"><img src="../static//images/backgrounds/Ajies-super hot.png" alt=""></div>
        <div class="recetas-finDelMundo" id="querido-satan">
          <!-- Libro fin del mundo -->
           <div class="recetas-container">
            <button id="prev" class="nav-button"></button>
            <div class="book-container">
              <div class="book" id="book">
                      <div class="page" id="page1">
                          <img src="../static/images/book/querido_belcebú.png" alt="Page 1">
                      </div>
                      <div class="page" id="page2">
                          <img src="../static/images/book/Diario.png" alt="Page 2">
                      </div>
                      <div class="page" id="page3">
                          <img src="../static/images/book/Entrada2.png" alt="Page 3">
                      </div>
                      <div class="page" id="page4">
                          <img src="../static/images/book/Entrada3.png" alt="Page 4">
                      </div>
                      <div class="page" id="page5">
                          <img src="../static/images/book/Entrada4.png" alt="Page 5">
                      </div>
                      <div class="page" id="page6">
                        <img src="../static/images/book/Entrada5.png" alt="Page 6">
                      </div>
              </div>
            </div>
            <button id="next" class="nav-button"></button>
           </div>
      </div>
      <section>
          <div id="contact" class="contact-form">
            <div class="img-contact">
              <img id="img4" src="../static/images/assets/CalaveraTelefono.png" alt="contacto imagen">
            </div>
            <div class="form-container">
                <h3 class="h2-contact">contactanos</h3>
                <form action="https://formsubmit.co/b350f48860e105f42945ce047681ec10" method="POST">
                  <div class="form-div">
                    <div id="i1" class="input-contact">
                        <input class="input1" type="text" name="name" id="name" placeholder="Nombre">                   
                        <input class="input1" type="text" name="lastName" id="lastName" placeholder="Apellido">
                    </div>
                    <span id="i2" class="input-contact">
                      <input class="input2" type="email" name="email" id="email" placeholder="Email">
                    </span>
                    <span id="i3" class="input-contact">
                      <textarea class="input3" name="message" id="mensaje" placeholder="Mensaje"></textarea>
                    </span>
                    <input type="hidden" name="_captcha" value="false">
                    <span id="i4" class="send">
                      <input type="submit" id="send" value="Enviar">
                    </span>
                  </div>
                </form>
            </div>
          </div>
      </section>
  {% endblock %}
  {% block script %}
  <script>
      const FDM_URL = '{{ FDM_URL }}';
      // cambio de imagen de productos
      const products = document.querySelectorAll('.sauce-container');

      products.forEach(product => {
        const imgElement = product.querySelector('.sauce-image');
        const images = imgElement.dataset.images.split(',');

        product.addEventListener('mouseenter', () => {
          if (images.length > 1) {
            imgElement.src = FDM_URL + images[1];
          }
        });

        product.addEventListener('mouseleave', () => {
          imgElement.src = FDM_URL + images[0];
        });
      });

      // codigo de libro fdm

      let currentPage = 0;
      const totalPages = 5;

      document.getElementById('next').addEventListener('click', () => {
          if (currentPage < totalPages) {
              document.querySelectorAll('.page')[currentPage].style.transform = 'rotateY(-180deg)';
              currentPage++;
          }
      });

      document.getElementById('prev').addEventListener('click', () => {
          if (currentPage > 0) {
              currentPage--;
              document.querySelectorAll('.page')[currentPage].style.transform = 'rotateY(0deg)';
          }
      });
    </script>

  {% endblock %}