<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fin Del Mundo Web</title>
  <link rel="icon" type="image/x-icon" href="../static/image/assets/Favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css??family=Sofia+Sans+Condensed">
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div class="flex-container">
    <header class="header">
      <div class="home">
        <div class="icon-header">
          <img class="header-img" src="../static/image/assets/finDelMundo.png" alt="imagen de la empresa">
        </div>
      </div>
      <!-- Menu desplegable responsivo -->
  <div class="btn-menu">
      <i id="btn-menu" class="fa-solid fa-bars"></i>
  </div>
  <div class="navbar">
    <ul class="navbar-items">
        <li class="navbar-item"><a class="nav-link a1" href="#home">Home</a></li>
        <li class="navbar-item"><a class="nav-link a2" href="#picantes">Productos</a></li>
        <li class="navbar-item"><a class="nav-link a2" href="#merchant">Merch</a></li>
        <li class="navbar-item"><a class="nav-link a3" href="#findelmundo">Fin Del Mundo</a></li>
        <li class="navbar-item"><a class="nav-link a4" href="#querido-satan">Querido Satán</a></li>
        <li class="navbar-item"><a class="nav-link a5" href="#contact">Contacto</a></li>
        <li class="navbar-item"><a href="https://www.instagram.com/findelmundosalsas/" target="_blank"><i class="fa-brands fa-instagram icon-header"></i></a></li>
      <!-- cartNotification -->
      <div class="header-cart">
        <div class="icons-cart-notification">
            <img class="cart-icon" src="../static/image/assets/cart-icon.png" alt="cart notification icon">
            <div id="number-notification" class="header-cart-notification">0</div>
        <div class="home">
          <div class="icon-header">
            <img class="header-img" src="../static/image/assets/finDelMundo.png" alt="imagen de la empresa">
          </div>
        </div>
        <!-- Menu desplegable responsivo -->
        <div class="btn-menu">
          <div class="boton">
            <i id="btn-menu" class="fa-solid fa-bars"></i>
          </div>
        </div>
        <div class="navbar">
          <ul class="navbar-items">
              <li class="navbar-item"><a class="nav-link a1" href="#intro">Home</a></li>
              <li class="dropdown"><a class="nav-link">Tienda</a>
                <span class="dropdown-content"> 
                  <a class="nav-link a2" href="#picantes">Picantes</a>
                  <a class="nav-link b2" href="#merchant">Merchant</a>
                </span>
              <li class="navbar-item"><a class="nav-link a3" href="#findelmundo">Fin Del Mundo</a></li>
              <li class="navbar-item"><a class="nav-link a4" href="#querido-satan">Querido Satán</a></li>
              <li class="navbar-item"><a class="nav-link a5" href="#contact">Contacto</a></li>
              <li class="navbar-item"><a href="https://www.instagram.com/findelmundosalsas/" target="_blank"><i class="fa-brands fa-instagram icon-header"></i></a></li>

              <!-- cartNotification -->
              <div class="header-cart">
                <div class="icons-cart-notification">
                  <img class="cart-icon" src="../static/image/assets/cart-icon.png" alt="cart notification icon">
                  <div id="number-notification" class="header-cart-notification">0</div>
                </div>
              </div>
          </ul>
        </div>
      </div>
    </ul>
  </div>
      <!-- cartModal -->
    <div class="cart-modal">
      <p class="cart-modal-tittle">Carrito</p>
        <hr/>
      <div class="article-container">
        <p class="cart-empty">El carrito esta vacio</p>
      </div>
    </div>
</header>
  <main class="main-content">
      <div class="slider-home" id="home">
          <ul>
              <li><img src="../static/image/banner intro/BANNER-NAVIDAD-2024.png" alt="imgaen intro"></li>
              <li><img src="../static/image/banner intro/ajies-imagen-1.png" alt=""></li>
              <li><img src="../static/image/banner intro/mezcla-imagen-3.png" alt=""></li>
              <li><img src="../static/image/banner intro/envasado-imagen-4.png" alt=""></li>
          </ul>
      </div>
    <div class="carteles-container">
      <div class="carteles">
        <div class="cartel-mov">
          {% for i in range(11) %}
            <div class="cartel">
              Salsas Picantes, de Verdad
              <i class="fa-solid fa-skull iconSkull"></i>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
      <div id="tienda" class="tienda-container">
          <div class="catalogo-salsas" id="picantes">
            {% for sauce in sauces %}
              <div class="sauce-container" data-id="{{ sauce.id }}">
                <img src="{{ sauce.image }}" alt="{{ sauce.title }}" class="img-product">
                <h3 class="title">{{ sauce.title }}</h3>
                <div class="divHrLine">
                  <hr class="hrLine">
                </div>
                <p class="price">{{ sauce.price | uru }}</p>
              </div>
            {% endfor %}
          </div>
      </div>
      <div class="tienda-merchant">
        <div class="catalogo-merchant" id="merchant">
          {% for merch in merchandising %}
            <div class="merchant">
              <img id="#a104" class="img-product-merchant" src="{{ merch.image }}" alt="{{ merch.title }}">
              <div class="title">{{ merch.title }}</div>
              <div class="divHrLine">
                <hr class="hrLine">
              </div>
              <div class="price">{{ merch.price | uru }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    <div class="info">
      <div class="carteles-container">
        <div class="carteles">
          <div class="cartel-mov">
            {% for i in range(12) %}
            <div class="cartel">
                <p>Hecho en Uruguay</p>
                <img src="../static/image/assets/Fueguito.png" alt="">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="finDelMundo" id="findelmundo">
        <h2>Nuestra producción de picantes</h2>
        <p>Todos los ajíes de tu botellita de Findelmundo fueron cultivados de forma <span id="organicWord"><em>orgánica</em></span> en Uruguay</p>
        <div class="trabajadores">
          <div class="imgIzqDer">
            <img src="../static/image/assets/hombreIzq.png" alt="">
            <p class="descripción-Trabajadores">Sembramos</p>
          </div>
          <div class="imgCentral">
            <img id="img-centro" src="../static/image/assets/hombreCentro1.png" alt="">
            <p class="descripción-Trabajadores">Trasplantamos</p>
          </div>
          <div class="imgCentral">
            <img id="img-centro" src="../static/image/assets/hombreCentro2.png" alt="">
            <p class="descripción-Trabajadores">Esperamos</p>
          </div>
          <div class="imgIzqDer">
            <img src="../static/image/assets/hombreDer.png" alt="">
            <p class="descripción-Trabajadores">Cosechamos</p>
          </div>
        </div>
      </div>
      <div class="imgExtra"><img src="../static//image/banner intro/Ajies-super hot.png" alt=""></div>
        <div class="carteles-container">
          <div class="carteles">
            <div class="cartel-mov">
              {% for i in range(12) %}
                <div class="cartel">
                  Usamos ajíes super-hot, los más picantes del mundo
                  <img src="/static/image/assets/Fueguito.png" alt="">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      <div class="img-outer"><img src="../static//image/banner intro/Producción de picantes.png" alt=""></div>
      <div class="recetas-finDelMundo" id="querido-satan">
        <!-- Libro fin del mundo -->
        <section class="book-section">
          <div class="book-container">
              <div class="book" id="book">
                  <div class="page" id="page1">
                      <img src="../static/image/book/querido_belcebú.png" alt="Page 1">
                  </div>
                  <div class="page" id="page2">
                      <img src="../static/image/book/Diario.png" alt="Page 2">
                  </div>
                  <div class="page" id="page3">
                      <img src="../static/image/book/Entrada2.png" alt="Page 3">
                  </div>
                  <div class="page" id="page4">
                      <img src="../static/image/book/Entrada3.png" alt="Page 4">
                  </div>
                  <div class="page" id="page5">
                      <img src="../static/image/book/Entrada4.png" alt="Page 5">
                  </div>
                  <div class="page" id="page6">
                      <img src="../static/image/book/Entrada5.png" alt="Page 6">
                  </div>
                  <div class="lastPage">Continuara ...</div>
              </div>
          </div>
          <button id="prev" class="nav-button">Previous</button>
          <button id="next" class="nav-button">Next</button>
        </section>
      </div>
    </div>
</main>
  <footer class="footer">
      <div id="contact" class="contact-1">
          <div class="img-contact">
            <img id="img4" src="../static/image/assets/contacto.png" alt="contacto imagen">
          </div>
          <div class="form-container">
              <h3 class="h2-contact">contactanos</h3>
            <form action="https://formsubmit.co/b350f48860e105f42945ce047681ec10" method="POST">
              <div class="form-div">
                <span id="i1" class="input-contact">
                  <input class="input1" type="text" name="name" id="name" placeholder="Nombre">
                  <input class="input1" type="text" name="lastName" id="lastName" placeholder="Apellido">
                </span>
                <span id="i2" class="input-contact">
                  <input class="input2" type="email" name="email" id="email" placeholder="Email">
                </span>
                <span id="i3" class="input-contact">
                  <textarea class="input3" name="message" id="mensaje" placeholder="Mensaje"></textarea>
                </span>
                <input type="hidden" name="_captcha" value="false">
                <span id="i4" class="send">
                  <input type="submit" id="send" value="Enviar">
                </span>
              </div>
          </form>
          </div>
      </div>
    <div class="contact-2">
      <div class="contact-container">
        <span class="fin-del-mundo">
          <img id="img5" src="../static/image/assets/Logo_edited.png" alt="imagen de la empresa">
        </span>
        <div class="info-contact">
          <div class="contact">
            <a href="https://www.instagram.com/findelmundosalsas/" target="_blank"><img src="../static/image/assets/Instagram.png" alt=""></a>
            <h3 id="h3-contact"> <a href="https://www.instagram.com/findelmundosalsas/" target="_blank"></a>@findelmundosalsas</a></h3>
          </div>
          <div class="contact">
            <a href=""><img src="../static/image/assets/Mail.png" alt=""></a>
            <h3 id="h3-contact">xxxxxxxxxx@gmail.com</h3>
          </div>
          <div class="contact">
            </a><img src="../static/image/assets/Teléfono.png" alt=""></i>
            <h3 id="h3-contact">+589 91068092</h3>
          </div>
        </div>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=11Q_T3B2cZDFThYE8jXuERhyBInmIXC4&ehbc=2E312F" style="border: 0" referrerpolicy="none" width="100%" height="100%"></iframe>
      </div>
    </div>
  </footer>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Adapted from https://stackoverflow.com/a/10162353
    const html = '<!DOCTYPE ' +
    document.doctype.name +
    (document.doctype.publicId ? ' PUBLIC "' + document.doctype.publicId + '"' : '') +
    (!document.doctype.publicId && document.doctype.systemId ? ' SYSTEM' : '') +
    (document.doctype.systemId ? ' "' + document.doctype.systemId + '"' : '') +
    '>\n' + document.documentElement.outerHTML;

    let currentPage = 0;
    const totalPages = 6;

    document.getElementById('next').addEventListener('click', () => {
        if (currentPage < totalPages) {
            document.querySelectorAll('.page')[currentPage].style.transform = 'rotateY(-180deg)';
            currentPage++;
        }
    });

    document.getElementById('prev').addEventListener('click', () => {
        if (currentPage > 0) {
            currentPage--;
            document.querySelectorAll('.page')[currentPage].style.transform = 'rotateY(0deg)';
        }
    });

        // Hacer código para enlaces de la barra de navegación

    const header = document.querySelector('.header');
    const menu = document.querySelector('.btn-menu');
    const homeIcon = document.querySelector('.header-img');
    const btnMenu = document.querySelector('.btn-menu');
    const navBar = document.querySelector('.navbar');
    const icon = document.getElementById('btn-menu');

    window.addEventListener('scroll', () => {
      header.classList.toggle('sticky', window.scrollY > 0)
    })

    btnMenu.addEventListener('click', ()=> {
        if( icon.className === "fa-solid fa-bars") {
            navBar.style.display = 'block';
            icon.classList.replace('fa-solid', 'fa-solid');
            icon.classList.replace('fa-bars', 'fa-x');
            let menuState = 'open';
            openMenu(menuState);
        } else {
            navBar.style.display = 'none';
            icon.classList.replace('fa-solid', 'fa-solid');
            icon.classList.replace('fa-x', 'fa-bars');
            let menuState = 'close';
            openMenu(menuState);
        }
    })

      function openMenu (menuState) {
        window.addEventListener('resize', () => {
        if (screen.availWidth > 700 || menuState == 'open') {
            navBar.style.display = 'block';
        }
        if (screen.availWidth < 700 && menuState == 'close') {
          navBar.style.display = 'none';
        }
        console.log(screen.width);
      })
      }

    let navBarItems = document.querySelectorAll('.navbar-items li a');
    let windowWidth = window.innerWidth;

    let className = navBarItems.className; 

    if (windowWidth < 700) {
      navBarItems.forEach(item => {

          item.addEventListener('click', ()=> {
          
            navBar.style.display = 'none';
            icon.classList.replace('fa-solid', 'fa-solid');
            icon.classList.replace('fa-x', 'fa-bars');
          })
      });
    }
  });
</script>
<script src="https://kit.fontawesome.com/f6023662c1.js" crossorigin="anonymous"></script>
</html>