{% extends '/panel.html' %}
  {% block main %}
    <div class="row">
      <div class="col">
        <div class="header">
          {% if message %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endif %}
          <h2>Productos</h2>
          <button type="button" class="btn addProductBtn" id="addProductBtn"><i class="fa-solid fa-plus"></i>Agregar Producto</button>
        </div>
        <table class="table-light custom-width">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr class="table-group-divider">
                <th scope="row" class="product-id">{{ product.id }}</th>
                <td><img src="{{ url }}{{ product.images.split(',')[0] }}" alt="{{ product.title }}" style="max-width: 180px; max-height: 180px; padding: 10px 20px;"></td>
                <td>{{ product.title }}</td>
                <td>{{ product.price |uru }}</td>
                <td>
                  <button type="submit" class="btn btn-dark" id="viewProductBtn" data-id="{{ product.id }}">Abrir</button>
                  <button type="submit" class="btn btn-danger del-products"><i class="fa-regular fa-trash-can"></i></button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
{% block script %}
    <script>
      const delProduct = document.querySelectorAll('.del-products');
          delProduct.forEach(btn => {
            btn.addEventListener('click', () => {
              const productID = btn.parentElement.parentElement.firstElementChild.innerText;
              fetch(`/adminBoard/products/${productID}`, {
                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json'
                }
              }).then(res => res.json())
              .then(data => {
                console.log(data);
                if (data.status === 'success') {
                  window.location.reload();
                } else alert('Error al eliminar el producto')
              })
            });
          });
    </script>
{% endblock %}
