{% extends "index.html" %}

{% block main %}

  <div class="product-page-container">
    <div class="img-container">
      <img src="{{ url }}{{ details.images[0] }}" alt="{{ details.title }}" class="main-image" data-main-img="{{ url }}{{ details.images[0] }}">
      <div class="extraImgs">
        {% if details.images | length > 1 %}
          {% for img in details.images %}
            <img src="{{ url }}{{ img }}" alt="{{ details.title }}" class="extra-image">
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="product-details" data-id="{{ details.id }}">
      <h3 class="title">{{ details.title }}</h3>
      <p class="price">{{ details.price | uru }}</p>
      <p class="description">{{ details.description }}</p>
      <p class="quantity">Cantidad</p>
      <input type="number" value="1" min="1" max="9">
      <button class="addBtn">Agregar al carrito</button>
    </div>
  </div>

{% endblock %}

{% block script %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">

  <script type="module">
    import { drawCartModal, formatCurrency, parseCurrency, drawSubtotal, drawCartPage, getCount } from '../static/js/utils.js';



    document.addEventListener('DOMContentLoaded', () => {

      const mainImg = document.querySelector('.img-container img');
      const extraImgs = document.querySelectorAll('.extra-image');
      
      if (extraImgs.length > 0) {
        extraImgs[0].classList.add('active');
        extraImgs.forEach(img => {
          img.addEventListener('mouseenter', () => {
            extraImgs.forEach(img => img.classList.remove('active'));
            mainImg.src = img.src;
            img.classList.add('active');
          });
          img.addEventListener('mouseleave', () => {
            mainImg.src = mainImg.getAttribute('data-main-img');
            img.classList.remove('active');
            extraImgs[0].classList.add('active');
          });
        });
      }

      const addToCartBtn = document.querySelector('.addBtn');
      const quantity = document.querySelector('.product-details input');
      const img = document.querySelector('.main-image').src;
      const price = parseFloat(parseCurrency(document.querySelector('.price').textContent));

      addToCartBtn.addEventListener('click', () => {
        const PRODUCT = {
          id: document.querySelector('.product-details').dataset.id,
          title: document.querySelector('.title').textContent,
          price: price,
          quantity: parseInt(quantity.value),
          image: img
        }

        let cart = JSON.parse(localStorage.getItem('cart')) || [];
        const existingProductIndex = cart.findIndex(item => item.id === PRODUCT.id);
        
        if (existingProductIndex !== -1) {
          cart[existingProductIndex].quantity += PRODUCT.quantity;
        } else {
          cart.push(PRODUCT);
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        let count = getCount(cart);
        drawCartModal(cart);
        drawSubtotal(cart);
        document.querySelector('.cart-count').innerHTML = count;
        document.querySelector('.cart-modal').classList.add('open');
        document.querySelector('.flex-container').classList.add('opacity');
      })
    });
  </script>

{% endblock %}